@using SocialNetwork.Models.ViewModels.Account
@model UserViewModel;

@{
    ViewData["Title"] = $"{Model._user.GetFullName()} page";
}

<div class="main-container">
    <div class="user-container">
        <h2>@Model._user.FirstName @Model._user.LastName</h2>
        <div class="portrait-box">
            <img src="@Model._user.Image" />
        </div>
        <div class="friens-container">
            <ul>
                <li><img src="images/person-unknown.svg" />Первый друг</li>
                <li><img src="images/person-unknown.svg" />Второй друг</li>
                <li><img src="images/person-unknown.svg" />Третий друг</li>
            </ul>
        </div>
    </div>

    <div class="content-container">
        <h2>Моя лента</h2>

        <div class="inputMessageSection-body">
            <h5 class="card-title">Напишите сообщение</h5>
            <textarea id="messageInput" class="form-control" rows="3" placeholder="Введите сообщение..."></textarea>
            <button id="sendMessage" class="btn-primary">Отправить</button>
        </div>
        <div id="messageSection">
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('sendMessage').addEventListener('click', function() {
            const messageInput = document.getElementById('messageInput');
            const message = messageInput.value.trim();
            if (message === "") return;

            const messageHtml = `
                <div class="card">
                    <div class="card-body">
                    <div class="card-subtitle">
                        <h6 class="card-subtitle-author">@Model._user.GetFullName()</h6>
                        <h6 class="card-subtitle-date">${new Date().toLocaleString()}</h6>
                        </div>
                        <p class="card-text">${message}</p>
                        <div class="comment-section"></div>
                        <button class="btn-primary addComment">Добавить комментарий</button>
                    </div>
                </div>`;

            const messageSection = document.getElementById('messageSection');
            messageSection.insertAdjacentHTML('afterbegin', messageHtml);
            messageInput.value = ''; // Очистить поле
            messageInput.style.height = 'auto';

        });

        // Обработчик для добавления комментария
        document.addEventListener('click', function(e) {
            if (e.target.classList.contains('addComment')) {
                const commentInput = `
                    <textarea class="form-control coomment-area" rows="2" placeholder="Введите комментарий..."></textarea>
                    <button class="btn-primary submitComment">Добавить</button>`;
                const commentSection = e.target.previousElementSibling;
                commentSection.insertAdjacentHTML('beforeend', commentInput);
                e.target.remove();
            }
        });

        // Обработчик для отправки комментария
        document.addEventListener('click', function(e) {
            if (e.target.classList.contains('submitComment')) {
                const textarea = e.target.previousElementSibling;
                const comment = textarea.value.trim();
                if (comment === "") return;

                const commentHtml =`
                    <div class="card-comment">
                        <div class="card-subtitle">
                    <h6 class="card-subtitle-author">@Model._user.GetFullName()</h6>
                    <h6 class="card-subtitle-date">${new Date().toLocaleString()}</h6>
                    </div>
                    <p class="card-text">${comment}</p>
                    </div>`;
                // const commentSection = e.target.previousElementSibling;
                const commentSection = e.target.parentElement;
                console.log(commentSection);
                const buttonSection = e.target.parentElement;
                const commentButton = '<button class="btn-primary addComment">Добавить комментарий</button>';
                // Добавляем комментарий
                commentSection.insertAdjacentHTML('afterbegin', commentHtml);
                buttonSection.insertAdjacentHTML('afterend', commentButton);


                // Удаляем поле ввода и кнопку
                textarea.remove();
                e.target.remove();
            }
        });
    });
</script>
