@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SocialNetwork.Core.Models.ViewModels.Account.UserViewModel

@{
    Layout = "_Layout"; // используем макет _Layout.cshtml как базовый
    string userId = (Model._user.Id ?? ViewBag.targetUser?.Id) ?? throw new InvalidOperationException();
}

<div class="main-container">
    <div class="user-container">
        <h2>@Model._user.FirstName @Model._user.LastName</h2>
        <div class="portrait-box">
            <img id="user_photo" src="@Model._user.Image" />
            <a asp-controller="AccountManager" asp-action="UpdateUserData">
                <img src="~/images/edit.svg" alt="Редактировать данные пользователя">
            </a>
        </div>
        <div class="about-user-container">
            <p>Дата рождения: </p><span>@Model._user.BirthDate.ToString("dd/MM/yyyy")</span>
            <p>Обо мне: </p><span>@Model._user.About</span>
            <p>Статус: </p><span>@Model._user.Status</span>
        </div>
        <span class="friens-container-header">Друзья:</span>
        <div class="friens-container">
            <ul id="friendsSection">

            </ul>
        </div>
    </div>

    <div class="content-container">
        @RenderBody()
    </div>
</div>

<script>
    window.userId = "@userId";
    console.log('Layout:_RegistredLayout');
</script>

