@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SocialNetwork.Models.ViewModels
@using SocialNetwork.Models.ViewModels.DTO

@{
    ViewData["Title"] = "Результаты поиска";
}

<h2>Результаты поиска</h2>

@if (ViewBag.Users != null && ((List<UserlistDto>)ViewBag.Users).Any())
{
    <ul class="search_user_container">
        @foreach (var userDto in (List<UserlistDto>)ViewBag.Users)
        {
            <li class="search_currentuser_container">
                <a asp-controller="User" asp-action="UserPage" asp-route-userID="@userDto.user.Id">
                <div class="div_search_user_container">
                    <div class="search_avatar">
                        <img src="@userDto.user.Image" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;" />
                    </div>
                    <ul>
                        <li>
                                <p>Пользователь:</p> @userDto.user.FirstName @userDto.user.LastName <p>&nbsp;&nbsp;&nbsp;&nbsp;Дата рождения: </p> @userDto.user.BirthDate.ToString("dd/MM/yyyy")
                        </li>
                        <li>
                            <p>e-mail:</p> @userDto.user.Email
                        </li>
                        <li>
                            <p>Статус:</p> @userDto.user.Status
                        </li>
                    </ul>
                </div>
                </a>
                    <div class="search_followme">
                        @if (userDto.IsMyFriend)
                        {
                            <button class="btn btn-primary" onclick="unfollow('@userDto.user.Id')">Отписаться</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" onclick="follow('@userDto.user.Id')">Подписаться</button>
                        }

                    </div>
                
            </li>
        }
    </ul>
}
else
{
    <p>Ничего не найдено.</p>
}


